
*{
    padding: 0px;
    margin: 0px;
   
}

body{
    background-color: rgb(1, 17, 41);
    /* background: url(../images/font.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
    font-family: "Century Gothic";
}
h1{
    color: rgb(0, 255, 149);
}
h1,#menu{
    display: inline-block;
}
#menu a{
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 2px;

}
#menu a:hover{
    background-color: white;
    color: rgb(2, 28, 114);
}
#identity,#reseaux,#produits{
    background-color: rgba(20, 60, 78, 0.342);
    background: url(../images/chaine-montagnes-courbe-vitesse-voitures-au-crepuscule-generee-par-ia.jpg );
    opacity: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;

}
h2{
    color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-bottom: 15px;

}
td{
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    color: aliceblue;

}
#produits p{
    display: inline-block;
    margin-right: 20px;
    margin-top: 15px;
    vertical-align: top;

}
#produits p img{
    width: 200px;
}
.image{
    border-radius: 50px;
    width: 300px;
    height: 300px;
    align-items: center;
    margin: 50px;
    box-shadow: 5px;
}
    #projects {
            margin-top: 20px;
        }
        .project {
            margin-bottom: 20px;
        }
        .project img {
            width: 300px; /* Taille de la prévisualisation */
            height: auto;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .project a {
            display: block;
            margin-top: 10px;
            font-weight: bold;
            text-decoration: none;
            color: #0078d4;
        }
        .project a:hover {
            text-decoration: underline;
        }
/* .img{
    border-radius: 25px;
    background-color: rgba(102, 102, 219, 0.315);
    width: 300px;
    height: 300px;
    box-shadow: 50px ;


}
.img :hover{
    background-color: rgb(19, 235, 170);
} */
p{
    color: beige;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
